<div class="row">
  <div class="col-xs-12">
    <h2>All professional experience items</h2>
  </div>
</div>
<div class="row">
  {{#each}}
  <div class="col-xs-12">
    {{#link-to 'position' this}}{{positionName}}{{/link-to}}
  </div>
  {{/each}}
</div>
