<h2>All positions</h2>

<ul class="list-unstyled">
{{#each}}
  <li>{{#link-to 'position' this}}{{name}}{{/link-to}}</li>
{{/each}}
</ul>

{{#link-to 'positions.create' class="btn btn-success"}}
  <i class="fa fa-plus"></i> Add a position
{{/link-to}}
