<h1>All skills</h1>

<div class="row">
{{#each}}
  <div class="col-xs-12 col-sm-6 col-md-4">
    {{display-skill skill=this delete="deleteSkill"}}
  </div>
{{/each}}
</div>

<hr>

<div class="row">
  <div class="col-xs-12 text-center">
    {{#link-to "skills.create" class="btn btn-success btn-md"}}
    <i class="fa fa-plus"></i> New skill
    {{/link-to}}
  </div>
</div>
