<div class="row">
  <div class="col-xs-12">
    <h2>Skills portal</h2>
  </div>
</div>

<div class="row">
{{#each}}

  <div class="col-xs-6 skill-badge">
    <h4>{{name}}</h4>
    <ul class="list-unstyled">
    {{#each indicator in indicators}}
      <li>
        <h5>{{indicator.name}}</h5>
        <p>{{indicator.value}} {{tstr-pluralize indicator.value indicator.metric.unitName}}</p>
      </li>
    {{/each}}
    </ul>
    {{#link-to "skill.edit" this}}Edit this skill{{/link-to}}
  </div>

{{/each}}
</div>

<div class="row">
  <div class="col-xs-12">
    {{#link-to "skills.create"}}<span class="glyphicon glyphicon-plus"></span>Add a skill{{/link-to}}
  </div>
</div>

